.panel-default>.panel-heading  {
    background-color: #F9B625;
}
#sub-navbar {
    z-index: 1;
    background-color: #3eb1c8;
    margin-top: 0px;
    border-radius: 0px;
    position: fixed;
    top: 50px;
    left: 0px;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
}

#sub-navbar .nav > li.active {
    font-size: larger;
    color: white !important;
    background-color: rgba(71, 220, 244, 0.68);
}

#sub-navbar-list li{
    padding-left: 0px!important;
    padding-right: 0px!important;
}


#sub-navbar-list li>a{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

ul#sub-navbar-list {
    margin-left: 0px;
    margin-right: 0px;
}

div.content-level2{
   margin-top: 50px;
}

#learnFm input.ng-invalid.ng-touched {
    border-color: #a94442;
}

#learnFm input.ng-valid.ng-touched {
    border-color: #3c763d;
}

#supFm input.ng-invalid.ng-touched {
    border-color: #a94442;
}

#supFm input.ng-valid.ng-touched {
    border-color: #3c763d;
}

#supFm textarea.ng-invalid.ng-touched {
    border-color: #a94442;
}

#supFm textarea.ng-valid.ng-touched {
    border-color: #3c763d;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}