<div class="row">
    <h2>The Last Five One-Minute Broadcasts</h2>
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-2 col-xs-12 text-center">
        <div class="service-box">
            <b>May 6</b><br />
            <img src="http://www.makingyourlifecountradio.org/uploads/1/8/4/9/18490886/6437498.jpg?150" width="125px" height="150px"><br />
            <h5>PRAYER</h5>
            <p class="text-muted text-left">Musician Tim Timmons has an interesting perspective on prayer. He says, “prayer doesn’t change anything, but Jesus changes everything.” &nbsp;On today’s <em>Making Your Life Count</em> Tim speaks from his own experience in his fight with cancer.</p>
            <br />
            <audio controls style="width: 100px;" class="text-left">
                <!-- <source src="horse.ogg" type="audio/ogg" /> -->
                <source src="http://www.makingyourlifecountradio.org/uploads/1/8/4/9/18490886/mylc_05-06-2016_tim_timmons.mp3" type="audio/mpeg"/>
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <div class="col-sm-2 col-xs-12 text-center">
        <div class="service-box">
            <b>May 5</b><br />
            <img src="http://www.makingyourlifecountradio.org/uploads/1/8/4/9/18490886/5987275.jpg?164" width="125x" height="150px"><br />
            <h5>PROCESS</h5>
            <p class="text-muted text-left">​Looking back … do you remember the process God took you through on your journey to Him? Well, today on&nbsp;<em>Making&nbsp;Your Life Count</em>,&nbsp;<strong><a target="_blank" href="http://www.cru.org/">Dan Keller</a></strong>&nbsp;gives us his own personal story.</p>
            <br />
            <audio controls style="width: 100px;">
                <!-- <source src="horse.ogg" type="audio/ogg" /> -->
                <source src="http://www.makingyourlifecountradio.org/uploads/1/8/4/9/18490886/mylc_05-05-2016_dan_keller.mp3" type="audio/mpeg"/>
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <div class="col-sm-2 col-xs-12 text-center">
        <div class="service-box">
            <b>May 4</b><br />
            <img src="http://www.makingyourlifecountradio.org/uploads/1/8/4/9/18490886/9514843.jpg?127" width="125px" height="150px"><br />
            <h5>CARE</h5>
            <p class="text-muted text-left"><span>You know, caring for people can sometimes speak louder than words. And Bernadette Todd says taking time to care for her neighbor ultimately made an eternal difference.</p>
            <br />
            <audio controls style="width: 100px;">
                <!-- <source src="horse.ogg" type="audio/ogg" /> -->
                <source src="http://www.makingyourlifecountradio.org/uploads/1/8/4/9/18490886/mylc_05-04-2016_bernadette_todd.mp3" type="audio/mpeg"/>
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <div class="col-sm-2 col-xs-12 text-center">
        <div class="service-box">
            <b>May 3</b><br />
            <img src="http://www.makingyourlifecountradio.org/uploads/1/8/4/9/18490886/8895864.jpg?128" width="120px" height="150px"><br />
            <h5>SHARING</h5>
            <p class="text-muted text-left">Sharing your faith can be scary, but that doesn't stop&nbsp;<strong><a target="_blank" href="https://give.cru.org/0655415">Erica Stevens</a></strong>. &nbsp;She has found that faith will actually replace fear in our lives. She explains on today's&nbsp;<em>Making Your Life Count</em>.</p>
            <br />
            <audio controls style="width: 100px;">
                <!-- <source src="horse.ogg" type="audio/ogg" /> -->
                <source src="http://www.makingyourlifecountradio.org/uploads/1/8/4/9/18490886/mylc_05-03-2016_erica_stevens.mp3" type="audio/mpeg"/>
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <div class="col-sm-2 col-xs-12 text-center">
        <div class="service-box">
            <b>May 2</b><br />
            <img src="http://www.makingyourlifecountradio.org/uploads/1/8/4/9/18490886/5153524.jpg?147" width="125px" height="150px"><br />
            <h5>ENCOURAGEMENT</h5>
            <p class="text-muted text-left">When <strong><a target="_blank" href="http://laurenchandler.com/">Lauren Chandler’s</a></strong> husband, Matt, was diagnosed with a brain tumor, their lives and their faith were tested. Lauren says a passage in the Bible has been a great encouragement to her.</p>
            <br />
            <audio controls style="width: 100px;">
                <!-- <source src="horse.ogg" type="audio/ogg" /> -->
                <source src="http://www.makingyourlifecountradio.org/uploads/1/8/4/9/18490886/mylc_05-02-2016_lauren_chandler.mp3" type="audio/mpeg"/>
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <div class="col-sm-1">&nbsp;</div>
</div>