<div class="navbar navbar-default" id="sub-navbar">
    <ul class="nav  text-center row" id="sub-navbar-list">
        <li ng-class="{'active': location == '/radio'}" class="col-md-2 col-xs-4">
            <a  href="#/radio">Home</a>
        </li>
        <li ng-class="{'active': location == '/radio/sdouglass'}" class="col-md-2 col-xs-4">
            <a  href="#/radio/sdouglass">Steve Douglass</a>
        </li>
        <li ng-class="{'active': location == '/radio/archives'}" class="col-md-2 col-xs-4">
            <a  href="#/radio/archives">Archives</a>
        </li>
        <li ng-class="{'active': location == '/radio/stations'}" class="col-md-2 col-xs-4">
            <a  href="#/radio/stations">Stations</a>
        </li>
        <li ng-class="{'active': location == '/radio/dailyemail'}" class="col-md-2 col-xs-4">
            <a  href="#/radio/dailyemail">Daily Email Signup</a>
        </li>
        <li ng-class="{'active': location == '/radio/contactus'}" class="col-md-2 col-xs-4">
            <a  href="#/radio/contactus">Contact Us</a>
        </li>
    </ul>
</div>