<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top"
     data-spy="affix" data-offset-top="100">
    <div class="container-fluid" ng-class="{'bg-primary' : checkURL()}" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#/"> Making Your Life Count</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#/about" data-target="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#/resources" data-target="#resources">Resources</a>
                </li>
                <li>
                    <a class="page-scroll" href="#/radio" data-target="#radio">Radio</a>
                </li>
                <!-- <li>
                        <a class="page-scroll" href="stories.html">Stories</a>
                    </li> -->
                <li>
                    <a class="page-scroll" href="#/support" data-target="#support">Support</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>